<html>
    <head>
        <title>Photoshare</title>
    </head>

    <body>
    <!-- navigation links -->
    <header>
        <a href='/'>Home</a> |
        <a href='/public'>View All Photos</a> | 
        <a href='/create_album'>Create Album</a> | 
        <a href='/create_tag'>Create Tag</a> | 
        <a href='/search_friend'>Search Friends</a> | 
        <a href='/search_comment'>Search Comments</a> | 
        <a href='/upload'>Upload a photo</a> | 
        <a href='/logout'>Logout</a>
    </header>
    
    <!-- custom style -->
    <style>
        form {display: inline-block;}
        th {text-align: center;}
        td{text-align: center;}
    </style>

    {% block content %}
    {% endblock %}
    </body>
        
</html>