{% extends "base.html" %}
{% block content %}

<head>
    <title>Create an album!</title>
</head>
    <body>
        <div class="title">
            <h1>Create an album!</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/create_album">
                <table>
                    <label for="aname">Album Name:</label>
                    <input type="text" name="aname" required='true' /><br />
                    <label for="date">Creation Date:</label>
                    <input type="text" name="date" required='true' /><br />
                    <input type="submit" value="Create!" />
                </table>
            </form>
    </body>

    {% endblock %}
