{% extends "base.html" %}
{% block content %}

<h2>Search friends</h2>

<form method="post" action="/search_friend">
    <label for="email">email:</label>
    <input type = "text", name = "email">
    <input type="submit", value="search">
</form>

<h2>Search Result</h2>
{% if searchs %}
    <ul> <!-- for loop to display the search result -->
        {% for s in searchs %}
        <li>
            {{s}}
            <form method="post" enctype="multipart/form-data" action="/add_friend">
                <table>
                    <input type="text" name="friend_email" placeholder= "Enter Friend's email to Add" required='true' /><br />
                    <input type="submit" value="Add Friend!" />
                </table>
            </form>
        </li>
        {% endfor %}
    </ul>
    
{% else %} <!-- if nothing found, display "no results" -->
    No results matched your search.
{% endif %}

{% endblock %}