{% if tag_name %}
  <h1>{{ tag_name }}</h1>
{% endif %}

<table>
    <colgroup>
        <col span="1" style="width: 50%;">
        <col span="1" style="width: 50%;">  
    </colgroup>
    <tr>
        <th></th> <!-- empty -->
        <th></th>
    <!-- for loop to display a listing of parts -->
    </tr>
    {% if photos %} <!-- make it to a table and display which album -->
    <h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>
          {{photo[2]}}<br>
          <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' style="width: 30%;">
        </li>
    {% endfor %}
    </ul>
    {% endif %}

</table>