{% extends "base.html" %}
{% block content %}

<head>
    <title></title>
</head>
    <body>
        <div class="title">
            <h1>Search results from {{Tags}}</h1>
        </div>
        <div>
            {% if Photos %}
            <h2>Here are the photos</h2>
                {% for photo in Photos %}
                <li>
                    {{photo[2]}}<br>
                    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' style="width: 30%;">
                    <a href='/delete_photo'>Delete Photo</a> | 
                    <a href='/add_tag'>Add Tag</a>
                    <!--a href="{{photo}}"></a> -->
                </li>

                {% endfor %}

            {% endif %}



            {% if TagPhotos is none %}
            <div>
                <h2>No such photo !!</h2>
            </div>
            {% endif %}
        </div>


        <p> Go to <a href='/userprofile'>profile?</a></p>
    </body>

{% endblock %}